<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill"  [routerLink]="['home']" role="tab" aria-controls="v-pills-home" aria-selected="true">inicio</a>
  <a class="nav-link m_bottom" routerLinkActive="active" id="v-pills-profile-tab" data-toggle="pill"   [routerLink]="['usuarios']" role="tab" aria-controls="v-pills-profile" aria-selected="false">Usuario</a>
</div>
