/* You can add global styles to this file, and also import other style files */
.container-main{
  margin-top: 20px;
  margin-bottom: 40px;
}
.active{
  font-weight: bold;
}

.gris > a{
  color: #84848 !important;
}

.abajo{
  margin-bottom: 15px;
}
