<form>
  <div class="form-group">
    <label for="basic-url">Nombre</label>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3"><span class="fa fa-user"></span>  </span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <br>
    <label for="basic-url">Apellido</label>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3"><span class="fa fa-font"></span>  </span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <br>
    <label for="basic-url">Correo</label>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3"><span class="fa fa-envelope"></span>  </span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <br>
    <label for="basic-url">Clave</label>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3"><span class="fa fa-certificate"></span>  </span>
      <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <br>
    <label for="basic-url">Repita la clave</label>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3"><span class="fa fa-certificate"></span>  </span>
      <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
  </div>
  <br>
  <div class="m_bottom">
    <button type="submit" class='btn btn-outline-primary btn-block'>Registrar</button>
  </div>
</form>
