<div *ngIf="selectImag" class="abajo">
  <div class="container image-detail">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg4 col-xl-4">
        <img src="assets/{{selectImag.imageLink}}"
             [alt]="selectImag.title"
             class="img-responsive">
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg8 col-xl-8">
        <h1>{{ selectImag.title | uppercase}}</h1>
        <p>
          {{ selectImag.descriptions }}
        </p>
      </div>
    </div>
  </div>
</div>
