<div class="container container-main">
  <div class="row">
    <div class="col-lg-12">
    <ul class="nav nav-tabs">
      <span>
        <img src="./assets/img/favicon.ico" style="width: 40px"class="img-circle">
      </span>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['heroes']">Heroes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  [routerLink]="['acerca']">Acerca de ...</a>
      </li>
    </ul>
    <div class="pull-right">
      <div class="input-group">
        <input  (keyup)="buscarHeroes(palabra.value)"
                type="text" class="form-control"
                placeholder="Buscar heroes..." #palabra
                >
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button"
                  (click)="buscarHeroes(palabra.value)">Buscar</button>
        </span>
      </div>
    </div>
  </div>
</div>
</div>
